@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Black.ttf') format('truetype'),
        url('Poppins/Poppins-BlackItalic.ttf') format('truetype'),
        url('Poppins/Poppins-Bold.ttf') format('truetype'),
        url('Poppins/Poppins-BoldItalic.ttf') format('truetype'),
        url('Poppins/Poppins-ExtraBold.ttf') format('truetype'),
        url('Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('Poppins/Poppins-ExtraLight.ttf') format('truetype'),
        url('Poppins/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('Poppins/Poppins-Italic.ttf') format('truetype'),
        url('Poppins/Poppins-Light.ttf') format('truetype'),
        url('Poppins/Poppins-LightItalic.ttf') format('truetype'),
        url('Poppins/Poppins-Medium.ttf') format('truetype'),
        url('Poppins/Poppins-MediumItalic.ttf') format('truetype'),
        url('Poppins/Poppins-Regular.ttf') format('truetype'),
        url('Poppins/Poppins-SemiBold.ttf') format('truetype'),
        url('Poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('Poppins/fonts/Poppins-Thin.ttf') format('truetype'),
        url('Poppins/Poppins-ThinItalic.ttf') format('truetype'),
}

:root {
    --grey: rgb(167 167 167);
    --light-grey: rgb(230, 236, 253);
    --white: white;
    --black: rgb(34 33 36);
    --funky: rgb(10, 29, 110);
    --funky-light: rgba(10, 28, 110, 0.227);

    --border: rgba(167, 203, 203, 0.335);

    --rood: rgb(159, 25, 25);
}



* {
    box-sizing: border-box;
    margin: 0;
    font-family: Poppins-Light, Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
  }
  *:focus-visible{
    outline: .2em solid var(--rood);
  }

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("img/background1.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}


code {
    background-color: var(--funky);
    color: var(--white);
    padding: .2em;
    border-radius: .4em;
    hyphens: none;
    font-family: monospace;
}

em {
    font-weight: 500;
}

strong {
    color: var(--funky);
}

/* -----------------header----------------------- */

header {
    display: flex;
    position: absolute;
    top: 1em;
    right: 1em;

    ul {
        display: flex;
        gap: 1em;
        width: 100%;
        padding: 0;

        li {
            list-style-type: none;
            display: flex;
            align-items: center;

            >a {
                font-size: 1em;
                text-decoration: none;
                color: var(--black);
                place-items: center;
            }

            button {
                font-size: 1em;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            >img {
                object-fit: contain;
                width: 1em;
                height: 1em;

                place-self: center;
            }
        }

    }
}

header li:not(:has(img)) {
    align-items: center;
    /* Ensure the text is vertically centered */
    justify-content: flex-start;
    /* Align text to the left (or whatever you prefer) */
}

header li:nth-of-type(4) img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: .1em solid var(--white);
}

.img img {
    width: 32%;
    height: 20em;
    border: .1em solid var(--border);
}

#Hackaton >a{
color: var(--rood);
background-color: var(--light-grey);
padding:.5em 1em;
display: block;
width: fit-content;
}
.leerdoelen>div {
    display: grid;
    grid-row: span 2;
    grid-column: span 3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: subgrid;
    color: var(--funky);
    row-gap: 1em;
    column-gap: 2em;

    a {
        text-decoration: underline;
        color: var(--funky);
    }

    a:hover {
        color: var(--white);
        transition: color .3s ease-in-out, text-decoration .5s ease-in-out;
        text-decoration: none;
    }

    h5 {
        grid-row: 1;
        color: var(--funky);
        font-size: 1.3em;
        background-color: var(--funky-light);
        width: 100%;
        padding: .2em 1em;
        border-radius: .5em;
        font-size: 1.4em;
        text-align: center;
    }

    p {
        grid-row: 2;
    }
}

.progress {
    margin-top: 6em;

    >div {
        display: flex;
        gap: 2em;
        flex-wrap: wrap;

        div {
            width: 30%;
            ;
        }
    }

    h2 {
        font-size: 1.7em;

    }

    h5 {
        color: var(--funky);
        font-size: 1.3em;
        background-color: var(--funky-light);
        width: fit-content;
        padding: .2em 1em;
        border-radius: .5em;
        margin-top: 1.5em;
        position: relative;

    }

    h5::before {
        content: "";
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        width: 93vw;
        height: .2em;
        background-color: var(--funky-light);
    }

    img {
        width: 100%;
        margin: .5em 0;
    }

    div:nth-of-type(2) div{
        display: flex;
        width: 100%;
        gap: 2%;
      
        align-items: start;

        img {

            width: 47%;
            object-fit: contain;
        }
    }
    div:nth-of-type(3){
       
     >div{
        display: flex;
        width: 100%;
        
        gap: 2em;
        align-items: start;
        img{
            width: 33%;
            object-fit: contain;
            max-height: 50vh;

        }
    }
}
}

#toegankelijkheid{
    scroll-margin-top: 50vh;
}

#georganiseerd{
    scroll-margin-top: 50vh;
}
#experimenteren{
    scroll-margin-top: 50vh;
}


#reflectie{
    scroll-margin-top: 50vh;
    
    h3{
        color: var(--funky);
        background-color: var(--funky-light);
        width: fit-content;
        padding: 0em 2em;
        border-radius: .5em;
        margin-top: 1.5em;
        position: relative;

        font-size: 1.5em;
    }
    h3::before {
        content: "";
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        width: 93vw;
        height: .2em;
        background-color: var(--funky-light);
    }
    >div{
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
        section{
            width: 45%;
        }
    }

}

.disclaimer{
    margin-top: 3em;
    color: var(--rood);
    font-weight: 700;
}



/* -------------foto dialog------------------- */

#photoContainer {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: stretch;

    div {
        flex-grow: 1;
        flex-basis: 12em;
        /* basisgrootte voor portrait */
        min-width: 12em;
        max-width: 100%;
        box-sizing: border-box;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5em;
        display: block;
    }
}


#photoContainer div.landscape {
    flex-basis: 30em;
    /* breder bij landscape */
}



/* ------------------main----------------- */

#myBtn {
    z-index: 1;
    position: absolute;
    bottom: 2em;
    right: 2em;
    background-color: var(--black);
    color: var(--white);
    width: 9em;
    border-radius: .3em;
    padding: 1em;
    border: none;
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
> h1{
    font-family: Poppins;
    z-index: 1;
    position: absolute;
    top: -2em;
    font-size: 5em;
}
    >form {
        position: absolute;
        top: -6em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
       
        width: 40%;

        input {
            order: 2;
            width: 100%;
            padding: 1em;
            border: none;
            border-radius: 0 2em 2em 0;
        }

        input::placeholder {
            font-size: 1.1em;
        }
    }
    >div {
        position: absolute;
        top: 2em;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        align-items: flex-end;
       
        gap: 2em;
        flex-wrap: wrap;
        max-width: 60vw;
    }
}



#searchButton {
    order: 1;
    background-image: url('img/search.png');
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: center;
    border: none;
    border-radius: 2em 0 0 2em;
    padding: 1.75em;
    cursor: pointer;
    background-color: var(--white);
    /* transform: rotate(-4deg); */
    width: 2em;
    height: 2em;

}

/* -------------------buttons onder zoekbalk----------------------- */
.button {
    display: flex;
    flex-direction: column;

    justify-content: start;

    align-items: center;
    width: 6em;
    height: 6em;
    text-align: center;
    gap: 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grey);
        width: 4em;
        height: 6em;
        border-radius: 50%;
        width: 4em;
        height: 4em;
        padding: .3em;
        background-color: var(--grey);
        object-fit: cover;

    }

    h2 {
        font-size: 1em;
        text-align: center;
        margin-top: -0.5em;
        color: var(--black);
    }
}


/* ---------------------------dialog------------------------- */
form {
    margin: 4em;

    h2 {
        font-size: 1.5em;
        margin: 2em 0 0 0;
    }

    h4 {
        font-size: 1.5em;
        margin: .5em 0;
    }

    h5 {
        font-size: 1.1em;
        margin-bottom: .5em;
    }
}


ul {
    list-style-type: square;

    li {
        padding: .5em 0;
    }
}

form>div:nth-child(1) {
    display: flex;
    gap: 1em;

    h3 {
        grid-row: 1;
        grid-column: 2;
        align-self: center;
        font-weight: 100;
        font-style: italic;
        color: var(--grey);
        font-size: 1em;
    }
}

form>div:nth-of-type(2) {
    display: flex;
    gap: 3em;
    flex-direction: row;
    padding: 2em;

    section {
        width: 70%;
    }

    h1 {
        font-size: 3em;
    }

    a {
        color: var(--black);
        text-decoration: none;
        margin: 1em 0;
        padding: 0;

    }

    img {
        width: 30%;
        object-fit: contain;
    }

    a:hover {
        color: var(--funky);
        background-color: var(--light-grey);
        padding: 0 .5em;
        transition: color 0.4s ease-out, padding 0.6s ease-out;
        border-radius: 2em;
    }

    a::after {
        content: "";

    }

    a:hover::after {
        content: "☞";
        color: var(--funky);
        margin: 0;
        padding: 0;
        margin-left: .2em;
        transform-origin: center;
    }

}


form>article {
    display: flex;
    margin-top: 4em;
    display: flex;
    gap: 2em;

    section {
        width: 50%;
    }
}

form>section:nth-of-type(1) {
    margin-top: 2em;

    h2 {
        font-size: 1.5em;
    }

    p {
        margin-top: .5em;
    }
}

.Mening {
    margin-top: 4em;
    display: flex;
    gap: 2em;

    section {
        width: 60%;
    }

    img {
      
        max-width: 50%;
        max-height: 70vh;
        object-fit: contain;
        justify-self: start;
    }
}

form>div:nth-of-type(3) {
    display: flex;
    gap: 4em;
    padding: 1em;
    margin-bottom: 2em;

    img {
        width: 100%;
    }

    a {
        color: var(--funky);
        font-weight: bold;
    }
}


.onderdeelTwee {
    background-color: var(--light-grey);
    color: var(--funky);
    border-radius: 1em;
    padding: 1em;
    h2{
        margin-top: 0;
    }
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2em;

    div {
        width: 45%;
    }

    li {
        padding: 0;
        margin: 1em 0;

        >ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
    }
}

.wrap:has(li>ul)>li:nth-of-type(3) {
    width: 100%;
}

form>section:nth-of-type(2):has(.wrap) h2 {
    margin-top: 2em;
}

.rood {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2em;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        width: 45%;
        padding: .7em;
        margin: 1em 0;
        font-weight: 600;
        background-color: var(--light-grey);
        color: var(--rood);
        border-radius: .5em;
        border-left: .3em solid var(--rood);
        position: relative;
    }

    li::before {
        content: "";
        position: absolute;
        top: 1em;
        left: -1.5em;

        width: 0;
        height: 0;

        border-top: 3em solid var(--rood);
        border-left: .5em solid transparent;
        border-right: .5em solid transparent;
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
    }

    li::after {
        content: "";
        position: absolute;
        bottom: 1em;
        left: -1.23em;
        width: .5em;
        height: .5em;
        border-radius: 50%;
        background-color: var(--rood);
    }
}


#CodePen {
    width: 100%;
    display: flex;
    gap: 1em;
}

dialog {
    border: none;
    margin: 0;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: 100vh;
    overflow: auto;
}

.closeDialog {
    border: none;
    padding: 0.7em 2em;
    border-radius: 1em;
    background-color: var(--light-grey);

}

.closeDialog:hover {
    background-color: var(--funky);
    color: var(--white);
    transition: color .3s ease-in, background-color .3s ease-in;
}

#iO{
        display: flex;
        flex-direction:row;
        gap: 1em;
        margin-top: -5em;

        >div:nth-of-type(1){
            display: flex;
            flex-direction: column;
            gap: 1em;
            position: fixed;
            background-color: var(--funky-light);
            padding: 1em;
            width: 20%;
            border-radius: 1em;
            z-index: 10;
        
            a{
                background-color: var(--funky);
                color: var(--light-grey);
                padding: .5em 1em;
                font-weight: 400;
                border-radius: .5em;
            }
        
        }
        >div:nth-of-type(2){
            display: flex;
            flex-direction:column;
            width: 100%; /* of auto */
            margin-left: 30%;
        }
}
#DaveBitter {
   
    >section:nth-of-type(1) {
        display: flex;
        flex-direction: column;

        >p:nth-of-type(2) {
            background-color: rgba(167, 203, 203, 0.177);
            width: fit-content;
            padding: 2em;
        }
        h3{
            font-size: 2em;
            border-left: .5em solid var(--funky);
            padding: 0 .5em ;
            width: fit-content;
            margin: 1em 0;
        }

        blockquote {
            border-left: .2em solid var(--funky);
            background-color: rgba(167, 203, 203, 0.177);
            padding: 1em;
            width: fit-content;
            font-size: 1.2em;
            font-weight: bold;
            font-style: italic;
            color: var(--funky);
        }

        p {
            margin-top: 1em;
        }
    }

    >section:nth-of-type(2),
    >section:nth-of-type(3) {
        h3 {
            font-size: 1.4em;
            margin-top: 1em;
            margin-bottom: .5em;
        }
    }

    >section:nth-of-type(4) {
        ul {
            display: flex;
            list-style: none;
            margin: 1em 0;
            padding: 1em;
            position: relative;
            gap: 1em;
            align-items: center;
            font-weight: 900;
            background-color: rgba(167, 203, 203, 0.177);

            li {
                font-weight: 300;
                background-color: var(--white);
                padding: .7em;
                border-radius: 1em;
                display: flex;
                flex-direction: column;

            }

            strong {
                font-weight: bold;
            }

            
        }
        blockquote {
            border-left: .2em solid var(--funky);
            background-color: rgba(167, 203, 203, 0.177);
            padding: 1em;
            width: fit-content;
            font-weight: 500;
            font-style: italic;
            color: var(--funky);
        }
        >div{
            display: flex;
            gap: 2em;
        }
    }

    div {
        display: flex;
        gap: 2em;

        >p {
            width: 50%;
        }
    }




}

#steveJonk{
    scroll-margin-top: 50vh;
    section:nth-of-type(1){
        h3{
            font-size: 2em;
            border-left: .5em solid var(--funky);
            padding: 0 .5em ;
            width: fit-content;
        }

    }
    h3{
        margin-top: 1em;
    }
    div:nth-of-type(1){
        display:flex ;
        gap: 2em;
        
        section{
            width: 30%;
            background-color: rgba(167, 203, 203, 0.177);
            padding: 1em;
            
            ul{
                padding: 1em;
                
                color: var(--funky);
            }
        }
    }
}
#clarkeVerdel{
    scroll-margin-top: 50vh;

    >section:nth-of-type(1){
        h3{
            font-size: 2em;
            border-left: .5em solid var(--funky);
            padding: 0 .5em ;
            width: fit-content;
        }
    }
    div{
        display: flex;
        gap: 2em;
        section{
            width: 50%;
        }   
    }
    
    section:nth-of-type(1){
        height: fit-content;
    }
    section:nth-of-type(2){
        ul{
            padding: 1em;
        }
    }
    section{
    margin-top: 2em;
    h3{
        font-size: 1.4em; 
    }
}
}

.Q{
    section{
        margin-top: 2em;
    }

    h3 a{
        color: var(--funky);
        

    }
    h3 a::after {
        content: ""; /* standaard geen inhoud */
        transition: content 0.3s ease-in-out;
    }
    
    h3 a:hover {
        background-color: var(--light-grey);
        color: var(--funky);
        transition: all 0.3s ease-in-out;
        border-radius: 0.4em;
        padding: 0 .7em;
    }
    
    h3 a:hover::after {
        content: ">>";
        transition: content 0.3s ease-in-out;
    }   
    a:has(img) img:hover{
    outline: .5em solid var(--funky-light);
    transition: .3s ease-in-out;
    } 
}

.Pre-CSS{
    >h3{
        font-size: 2em;
        border-left: .5em solid var(--funky);
        padding: 0 .5em ;
        width: fit-content;
    }
    >section:nth-of-type(1){
        h3:nth-of-type(1){
            margin-top: 1em;
            font-weight: normal;
            border: .1em solid var(--funky);
            background-color: rgba(167, 203, 203, 0.177);

            padding: 1em;
        }

    }

    pre {
        background: var(--funky);
        padding: 0.5em 1em; 
        border-radius: 6px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        white-space: pre-wrap;  
        margin: 1em 0;
        display: inline-block;  
        max-width: 100%;        
        overflow-x: auto;   
        height: 20em;
        width: 20em;
       
    }
    
    pre code {
        background-color: transparent;
        display:block; 
        text-align: left;
    }
    }
    pre span{
        margin: 0;
        padding: 0;
    }
    
    .selector {
        color: #ffa3ad; /* rood */
        font-weight: bold;
      }
      .property {
        color: #8b6bc7; /* paars */
      }
      .value {
        color: #a2cdff; /* blauw */
      }
      .punctuation {
        color: #dddddd; /* donkergrijs */
      }



    .ondersteuning{
        margin: 2em 0;
        h3{
            font-size: 1.4em;
        }
        div{
            display: flex;
            gap: 3em;
            margin: 2em 1em;
        }
    }