@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Black.ttf') format('truetype'),
        url('Poppins/Poppins-BlackItalic.ttf') format('truetype'),
        url('Poppins/Poppins-Bold.ttf') format('truetype'),
        url('Poppins/Poppins-BoldItalic.ttf') format('truetype'),
        url('Poppins/Poppins-ExtraBold.ttf') format('truetype'),
        url('Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('Poppins/Poppins-ExtraLight.ttf') format('truetype'),
        url('Poppins/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('Poppins/Poppins-Italic.ttf') format('truetype'),
        url('Poppins/Poppins-Light.ttf') format('truetype'),
        url('Poppins/Poppins-LightItalic.ttf') format('truetype'),
        url('Poppins/Poppins-Medium.ttf') format('truetype'),
        url('Poppins/Poppins-MediumItalic.ttf') format('truetype'),
        url('Poppins/Poppins-Regular.ttf') format('truetype'),
        url('Poppins/Poppins-SemiBold.ttf') format('truetype'),
        url('Poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('Poppins/fonts/Poppins-Thin.ttf') format('truetype'),
        url('Poppins/Poppins-ThinItalic.ttf') format('truetype'),
}

:root {
    --grey: rgb(167 167 167);
    --light-grey: rgb(222, 222, 222);
    --white: white;
    --black: rgb(34 33 36);
    --funky: rgb(77 129 188);

}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Poppins-Light, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    color: var(--black);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("img/background1.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

/* -----------------header----------------------- */

header {
    display: flex;
    position: absolute;
    top: 1em;
    right: 1em;
}

header ul {
    display: flex;
    gap: 1em;
    width: 100%;
    padding: 0;
}

header li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header li a {
    font-size: 1em;
    text-decoration: none;
    color: var(--black);
    place-items: center;
}


header ul li:nth-of-type(1) a:visited {
    color: var(--black);
}

header li button {
    font-size: 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

header  li > img {
    object-fit: contain;
    width: 1em;
    height: 1em;
    
    place-self: center;
}

header li:not(:has(img)) {
    align-items: center;
    /* Ensure the text is vertically centered */
    justify-content: flex-start;
    /* Align text to the left (or whatever you prefer) */
}

header li:nth-of-type(4) img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: .1em solid var(--white);
}

.img img{
    width: 32%;
    height: 20em;
    border: .1em solid rgba(167, 203, 203, 0.335);
}

.leerdoelen > div{ 
    display: flex;
}

.leerdoelen >div div{
    padding: 1.5em ;
    background-color: rgba(167, 203, 203, 0.335);
    border-left: .5em solid rgb(167, 203, 203);
    border-bottom:.5em solid rgb(131, 175, 175);
    margin: 1em;
    border-radius: 1em;
    width: 40%;
}
.leerdoelen h5{
    color: rgb(167, 203, 203);
    font-size: 1.4em;
    padding-bottom: 1em ;
}

/* -------------foto dialog------------------- */
#Fotos {
    border: none;
    border-radius: 2em;
    margin: auto;
    width: 98%;
    max-width: 100vw;
    height: 98%;
    max-height: 100vh;
    overflow: auto;
    padding: 2em;
}

.dialog1 > div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    grid-column: 1;
    column-gap: 1em;
    align-self: center;
}

.dialog1 > div:nth-of-type(1) h3 {
    height: fit-content;
    align-self: center;
    font-weight: 300;
    font-style: italic;
    font-size: 1.4em;
    color: var(--grey);
    font-size: 1em;
}



#photoContainer {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: stretch;
  }
  
  #photoContainer div {
    flex-grow: 1;
    flex-basis: 12em; /* basisgrootte voor portrait */
    min-width: 12em;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  #photoContainer div.landscape {
    flex-basis: 30em; /* breder bij landscape */
  }
  
  #photoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
    display: block;
  }
  
  
/* ------------------main----------------- */
h1 {
    font-family: Poppins;
    z-index: 1;
    position: absolute;

    top: 2em;


    font-size: 5em;
}

#myBtn {
    z-index: 1;
    position: absolute;
    bottom: 2em;
    right: 2em;
    background-color: black;
    color: white;
    width: 9em;
    border-radius: .3em;
    padding: 1em;
    border: none;
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main>form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    margin-top: -5em;
    width: 40%;
}

main>form input {
    order: 2;
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 0 2em 2em 0;
}

main>form input::placeholder {
    font-size: 1.1em;
}

#searchButton {
    order: 1;
    background-image: url('img/search.png');
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: center;
    border: none;
    border-radius: 2em 0 0 2em;
    padding: 1.75em;
    cursor: pointer;
    background-color: var(--white);
    /* transform: rotate(-4deg); */
    width: 2em;
    height: 2em;

}

main>div {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 4em;
    gap: 2em;
}

/* -------------------buttons onder zoekbalk----------------------- */
.button {
    display: flex;
    flex-direction: column;
    /* Aligns child elements (image and h2) in a column */
    justify-content: start;
    /* Vertically center the content inside the section */
    align-items: center;
    width: 6em;
    height: 6em;
    text-align: center;
    gap: 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    width: 4em;
    height: 6em;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    padding: .3em;
    background-color: var(--grey);
    object-fit: cover;

}

.button h2 {
    font-size: 1em;
    text-align: center;
    margin-top: -0.5em;
    color: var(--black);
}

/* ---------------------------dialog------------------------- */
form{
    margin: 1.5em;
}
form h4{
    font-size: 1.5em;
    margin: 1em 0 .5em 0;
}

ul{
    list-style-type: square;
}
form >div:nth-child(1){
    display: flex;
    gap: 1em;
}
form >div:nth-of-type(2){
    display: flex;
    gap: 3em;
    align-items: center;
    width: 100%;
}
form >div:nth-of-type(2) div{
    width: 50%;
}

form >div:nth-of-type(2) h2{
    font-style: italic;
    font-weight: 500;
    font-size: 2em;
    color: grey;
}
form >div:nth-of-type(2) img{
    width: 90%;
    max-height: 70vh;
    object-fit: contain;
}
form >div:nth-of-type(3){
    margin-top: 4em;
    display: flex;
    gap:2em;

}
.meerInfo{
    margin-top: 4em;
    display: flex;
    gap:2em;
}
.meerInfo img{
    max-width: 50%;
    object-fit: contain;
}
form >div:nth-of-type(3) h4{
    font-size:2em ;
}

form >div:nth-of-type(3) img{
    max-height: 80vh;
    max-width: 55%;
    object-fit: contain;
    align-self: center;
}

#open_dialog1,
#open_dialog2,
#open_dialog3,
#open_dialog4,
#open_dialog5,
#open_dialog6,
#open_dialog7,
#open_dialog8,
#open_Hackaton {
    margin: 0 auto;
}

#myDialog1,
#myDialog2,
#myDialog3,
#myDialog4,
#myDialog5 ,
#myDialog6,
#myDialog7,
#myDialog8,
#myDialogHackaton {
    border: none;
    border-radius: 2em;
    margin: auto;
    width: 98%;
    max-width: 100vw;
    height: 98%;
    max-height: 100vh;
    overflow: auto;
}

.closeDialog {
    border: none;
    padding: 0.7em 1em;
    border-radius: 1em;
    background-color: var(--light-grey);

}

.dialog h3 {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    font-weight: 100;
    font-style: italic;
    color: var(--grey);
    font-size: 1em;
}


.dialog h1{
    font-size: 3em;
    align-self: center;
    line-height: 1.1em;
    padding: .5em 0;

}

