body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
main{
    position: relative;
}
H1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'
}